.local {
    height: 20px;
    border: 1px solid;
  }
  
  .pos {
    .popup-create-sale-order {
      table {
        width: 100%;
      }
  
      .button.button-sale-order {
        width: 100%;
        margin-right: 0px;
        text-align: left;
  
        .icon-containers {
          margin-left: 10px;
          width: 80px;
          display: inline-block;
        }
  
        span {
          margin-left: 10px;
        }
      }
    }
  
    // pos a4 receipt
    @font-face {
      font-family: 'Inconsolata';
      src: url(../fonts/Poppins-Regular.otf);
    }
  
    .modifier-full-content {
      .hiddenradio {
        [type=radio] {
          position: absolute;
          opacity: 0;
          width: 0;
          height: 0;
  
          // IMAGE STYLES
          + img {
            cursor: pointer;
          }
  
          // CHECKED STYLES
          &:checked + img {
            box-shadow: 0 0 13px 8px rgba(210, 11, 25, 0.5);
          }
        }
      }
    }

    .side-prod-list {
        #container:hover + #cube { background-color: yellow; }
    }
  
    .custom-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(122px, 1fr));
      padding: 3px;
      gap: 3px;
    }
  }
  
  // Global styles and media queries
  .default-view {
    flex-direction: column;
  
    .pos-receipt-container {
      order: 2;
    }
  
    .actions {
      order: 1;
    }
  }
  
  .receipt-screen .default-view .pos-receipt-container {
    flex: 0 1 100%;
  }
  
  hr.separator {
    height: 1px;
    background: #d2cece;
    border: none;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-center {
    text-align: center;
  }
  
  .screen {
    .top-content .button.print-a4 {
      left: 0;
      margin-left: 16px;
    }
  
    .centered-content {
      right: 0;
      left: 0;
      width: 100%;
    }
  
    .modifier-full-content .modiButton:hover {
      background: #efefef;
    }
  }
  
  @media print {
    .pos .pos-receipt.a4 {
      width: 201mm !important;
    }
  }


 