<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="management_menu" name="Account Management" web_icon="booking_order,static/description/icon.png"/>

        <!-- <menuitem name="Accounts" id="menu_accounts_root" parent="booking_order.management_menu" sequence="1"/> -->

        <menuitem name="Clinics" id="menu_clinics" action="action_pod_practices" parent="booking_order.management_menu" sequence="10" />

        <menuitem name="Contacts" id="menu_contacts" action="action_pod_contacts" parent="booking_order.management_menu" sequence="20" />

        <menuitem name="Patients" id="menu_patients" action="action_pod_patients" parent="booking_order.management_menu" sequence="30" />

        <menuitem name="Booking" id="booking_main" parent="sale.sale_menu_root" sequence="1"/>

        <menuitem name="Booking Order" id="booking_order_main" parent="booking_main" sequence="1" action="booking_order_action"/>

        <menuitem name="Work Order" id="work_order_main" parent="booking_main" sequence="2" action="work_order_action"/>


    </data>
</odoo>