/* General input fields */
.o_field_widget .o_input_dropdown .o_input,
.o_field_widget .o_input_dropdown > input,
.o_field_widget .o_datepicker .o_input,
.o_field_widget .o_datepicker > input,
.o_field_widget input.o_input,
.o_form_view .o_input {
    border: 1px solid #dee2e6 !important;
    border-radius: 8px !important; /* Rounded border */
    padding: 6px; /* Optional: Improve input spacing */
}

/* .o_list_view .o_data_cell .o_input {
    padding-left: 8px;  
} */

/* Selected row in list view */
.o_list_renderer .o_list_table .o_data_row.o_selected_row > .o_data_cell > 
.o_field_widget:not(.o_readonly_modifier):not(.o_invisible_modifier) .o_input {
    border: none !important;
    border-radius: 8px !important; /* Rounded border */
}

/* Many2many selection input */
.o_field_widget.o_field_many2many_tags .o_field_many2many_selection .o_input {
    border: none !important;
    border-radius: 8px !important; /* Rounded border */
}


/* .o_field_widget .o_input_dropdown .o_input, .o_field_widget .o_input_dropdown > input, .o_field_widget .o_datepicker .o_input, .o_field_widget .o_datepicker > input {
    border:1px solid #dee2e6 !important;
 }
 .o_field_widget input.o_input{
    border:1px solid #dee2e6 !important;
 }
 .o_list_renderer .o_list_table .o_data_row.o_selected_row > .o_data_cell > .o_field_widget:not(.o_readonly_modifier):not(.o_invisible_modifier) .o_input{
 border:none !important;
 }
 .o_form_view .o_input{
 border:1px solid #dee2e6 !important;
 }
 .o_field_widget.o_field_many2many_tags .o_field_many2many_selection .o_input{
 border:none !important;
 }

 .rounded-input input {
    border-radius: 10px !important;
    border: 1px solid #ccc;
    padding: 5px;
}

.o_form_view .o_form_field input {
    border-radius: 10px !important;
} */

