.pos .product .product-info-button {
    position: absolute;
    top: 2px;
    left: 5px;
    font-size: 13px;
    border-radius: 2px;
    background-color: #7f82ac;
    color: white;
    padding: 1px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pos .product .product-info-button:hover {
    background-color: #595b79;
}