.pod_global_option_popup {
    .modal-body {
        &.pod_global_option_popup_body {
            max-height: 320px !important;
            min-height: 320px;
            overflow: auto;

            .pod_global_option_div {

                .pod_options_products,
                .pod_global_options {
                    .product {
                        border: 1px solid transparent;
                        cursor: pointer;

                        &:focus {
                            border-color: $pod_pos_primary_color !important;
                        }

                        &:hover {
                            border-color: $pod_pos_primary_color !important;
                        }
                        .product-content{
                            .product-name,.price-tag{
                                font-weight: bolder;
                            }
                        }
                    }
                }
            }
        }
    }
}