
.cs-main{
	direction: ltr;
    padding: 0;
    margin: 0;
    background-color: #f0eeee;
    font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;
    color: #555555;
    font-size: 12px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    text-shadow: none;
    overflow: hidden;
}

.cs-header{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 48px;
    margin: 0;
    padding: 0;
    color: white;
    background: #875A7B;
    display: flex;
    font-size: 20px;
}

.pos-branding{
	min-width: 503px;
    max-width: 503px;
    flex-grow: 1;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
}

.pos-logo {
    height: 35px;
    margin-left: 10px;
    margin-top: 5px;
    vertical-align:middle;
}

.pos-rightheader {
    flex-grow: 1;
    height:100%;
    display: flex;
    overflow : hidden;
    overflow-x: auto;
}
.pos-rightheader > * {
    border-right: 1px solid #875A7B;
}

.oe_status{
    float:right;
    padding: 14px;
    line-height: 20px;
    font-size: 20px;
    vertical-align:middle;
    font-style: italic;
    cursor:pointer;
}

.pos-content {
    width: 100%;
    position: absolute;
    top: 48px;
    bottom: 0;
    background: #F0EEEE;
}

.window{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: table;
	border: none;
	overflow: hidden;
}
.window .subwindow{
	display: table-row;
	width: 100%;
	height: 100%;
}
.window .subwindow.collapsed{
	height: 0px;
}
.window .subwindow-container .collapsed{
	height: 0px;
}
.subwindow .subwindow-container{
	display: table-cell;
	position: relative;
}
/* firefox seems to ignore the relative positionning of the subwindow-container
 * putting this inside subwindow-container fixes it.
 */
.subwindow .subwindow-container-fix{
	height: 100%;
	position: relative;
}

.screen {
    position: absolute;
    text-align: center;
    top: 0px;
    bottom: 0px;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.screen .screen-full-width{
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.scroller-container{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.scroller{
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.scroller.horizontal{
	overflow-y: hidden;
	overflow-x: auto;
}
.scroller-content{
	-webkit-transform: translate3d(0,0,0);
}
.scroller-container ::-webkit-scrollbar{
	width:  10px;
	height: 10px;
}
.scroller-container ::-webkit-scrollbar-track{
	background: rgb(224,224,224);
	border-left: solid 1px rgb(200,200,200);
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.scroller-container ::-webkit-scrollbar-thumb{
	background: rgb(168,168,168);
	min-height: 30px;
}

.leftpane {
	border-right: solid 3px #787878;
    background: #e2e2e2;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px;
/*    max-width: 70%;
*/
}

.rightpane {
	height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px;
/*    max-width: 30%;
*/}

.order-container {
    top: 0px;
    width: 100%;
    height: 100%;
    background: white;
    flex-grow: 1;
    overflow: hidden;
    overflow-y: auto;
}
.order {
    background: white;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 16px;
    text-align: left;
    max-width: 500px;
    -webkit-transform: translate3d(0,0,0);
}

.odoo-theme-button{
    background: #875a7b !important;
    color: white !important;
    font-size: 14px !important;
}

.cart-header{
    background: #555 !important;
    color: white !important;
    font-size: 20px;
}

.cart{
    font-size: 18px;
    width: 100%;
}
.cart th,
.cart td {
    padding: 10px 5px;
}
.cart tr{
    transition: all 150ms linear;
    background: rgb(230,230,230);
}
.cart thead > tr,
.cart tr:nth-child(even) {
    background: rgb(247,247,247);
}
.cart tr.highlight{
    transition: all 150ms linear;
    background: rgb(110,200,155) !important;
    color: white;
}
.cart tr.lowlight{
    transition: all 150ms linear;
    background: rgb(216, 238, 227);
}
.cart tr.lowlight:nth-child(even){
    transition: all 150ms linear;
    background: rgb(227, 246, 237);
}

.prod-img{
    height: 100px;
    width: 80px;
    border: 1px solid #bbbbbb;
}

.payment-info{
    font-size: 20px;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background: #555 !important;
    color: white !important;
    padding: 10px 5px;
    font-weight: bold;
    margin: 1px;
}

.pymnt-details{
    font-size: 18px;
    font-weight: bold;
}

.empty-cart{
    width: 100%;
    height: 100px;
    font-size: 3rem;
    padding: 20%;
    text-align: center;
    font-weight: bold;
}