.o_employee_redirect::before {
                content: '';
                position: absolute;
                height: 87%;
                width: 1px; /* width of the connecting line */
                background-color: #dee2e6; /* color of the connecting line */
                left: -20%; /* adjust this value based on your design */
                top: -30%;
                transform: translateX(-50%);
            }
.o_employee_redirect:last-child::before {
                height: 87%; /* adjust this value based on your design */
                top: -30%;
            }
.o_employee_redirect::after {
                content: '';
                position: absolute;
                width: 30px; /* width of the horizontal line */
                height: 1px; /* height of the horizontal line */
                background-color: #dee2e6; /* color of the horizontal line */
                left: -10%;
                bottom: 20px; /* adjust this value based on your design */
                transform: translateX(-50%);
            }