<?xml version="1.0" encoding="utf-8" ?>
<odoo>

    <menuitem id="hospital_root" name="POD ERP" web_icon="eprescription,static/description/icon.png" sequence="12"/>
    <!-- <menuitem id="hospital_eprescription_root" name="E-Prescriptions" parent="eprescription.hospital_root" action="eprescription_action" sequence="13"/> -->
    <!-- <menuitem id="hospital_ereport_root" name="E-Report" parent="eprescription.hospital_root" action="ereport_action" sequence="13"/> -->
    <menuitem id="hospital_query_root" name="Query" parent="eprescription.hospital_root" sequence="14"/>
    <menuitem id="hospital_delete_root" name="Delete" parent="eprescription.hospital_root" sequence="14"/>
    <!--
    <menuitem id="hospital_confirmation_root" name="Confirmations" parent="hospital_root" sequence="15"/>
    -->
    <menuitem id="hospital_conf_root" name="Setings" parent="eprescription.hospital_root" sequence="15"/>

    <!-- Alt Başlıklar -->
    <menuitem id="hospital_query_epres_root" name="E-Prescriptions" parent="eprescription.hospital_query_root" sequence="15"/>
    <menuitem id="hospital_query_ereport_root" name="E-Report" parent="eprescription.hospital_query_root" sequence="15"/>
    <menuitem id="hospital_query_ilac_root" name="Product" parent="eprescription.hospital_query_root" sequence="15"/>
    <menuitem id="hospital_query_other_root" name="Other" parent="eprescription.hospital_query_root" sequence="15"/>


</odoo>