<odoo>
    <menuitem id="menu_cpq_products" name="Configurable Products" parent="sale.product_menu_catalog" action="action_cpq_product_templates_only" sequence="11"/>
    <menuitem id="menu_cpq_price_matrix" name="CPQ Price Matrix" parent="sale.prod_config_main" action="action_cpq_price_matrix" sequence="11"/>
    <menuitem id="menu_cpq_attributes" name="CPQ Attributes" parent="sale.prod_config_main" action="action_cpq_attribute" sequence="12"/>
    <menuitem id="menu_cpq_attribute_values" name="CPQ Attribute Values" parent="sale.prod_config_main" action="action_cpq_attribute_values" sequence="13"/>
    <menuitem id="menu_sale_options" name="CPQ Product Options" parent="sale.prod_config_main" action="product_options_action" sequence="14" />
    <menuitem id="menu_stock_options" name="CPQ Product Options" parent="stock.menu_product_in_config_stock" action="product_options_action" sequence="14" />
    <menuitem id="menu_cpq_repair_tools" name="Repair CPQ Links" parent="sale.prod_config_main" sequence="98" action="action_cpq_repair_links_url" groups="base.group_system" />
    <menuitem id="menu_cpq_check_links" name="Check CPQ Links" parent="sale.prod_config_main" sequence="99" action="action_cpq_check_links_url" groups="base.group_system" />
    <menuitem id="menu_cpq_cleanup_values" name="Cleanup Broken CPQ Values" parent="sale.prod_config_main" action="action_cleanup_cpq_values" groups="base.group_system" sequence="100"/>
    <menuitem id="menu_cpq_clean_orphans" name="Clean Orphaned PTAVs" parent="sale.prod_config_main" action="action_cpq_clean_orphaned_ptavs" groups="base.group_system" sequence="101" />
    <menuitem id="menu_cpq_cleanup_ptavs" name="Cleanup Orphaned CPQ PTAVs" parent="sale.prod_config_main" action="action_cleanup_orphaned_ptavs" groups="base.group_system" sequence="102"/>
    <menuitem id="menu_cpq_fix_links" name="Fix CPQ Links" parent="sale.prod_config_main" action="action_fix_cpq_links" groups="base.group_system" sequence="103"/>
    <menuitem id="menu_cpq_cleanup_pavs" name="Clean Orphaned PAVs" parent="sale.prod_config_main" action="action_cpq_clean_broken_pavs" groups="base.group_system" sequence="104"/>

</odoo>
