<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="practice_root" name="Pod ERP" web_icon="pod_erp,static/description/icon.png"/>

        <!-- Partners Root -->
        <menuitem id="partners_root" name="Partners" parent="practice_root" sequence="2"/>
        <menuitem id="all_partner" name="All Partners" parent="partners_root" action="partners_action" sequence='1'/>

        <menuitem id="practice_doctor" name="Doctors" parent="partners_root" action="doctor_action" sequence='2'/>
        <menuitem id="practice_patient" name="Patients" parent="partners_root" action="all_patient_action" groups="pod_erp.group_practice_admin" sequence='3'/>

        <!-- <menuitem id="practice_patient_all" name="All Patients" parent="practice_patient" action="all_patient_action" sequence='6'/> -->
        <!-- <menuitem id="practice_patient_male" name="Male Patients" parent="practice_patient" action="male_patient_action" sequence='7'/>
        <menuitem id="practice_patient_female" name="Female Patients" parent="practice_patient" action="female_patient_action" sequence='8'/> -->

        <menuitem id='menu_product' action='action_product' name='Products' parent='practice_root' sequence='10'/>
        <menuitem id='menu_sales' action='action_sales' name='Sales order' parent='practice_root' sequence='11'/>


    </data>
</odoo>
