/* .cpq-summary-box {
    border: 1px solid #ccc;
    padding: 8px;
    background-color: #f9f9f9;
    font-size: 14px;
} */

/* CPQ Configuration Summary in tree view */
.cpq-config-summary-tree {
    white-space: normal;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* font-size: 12px; */
    font-size: 14px;
    line-height: 1.2;
    color: #555;
}

/* Config summary in form view */
/* .cpq-config-summary {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 8px;
    border-radius: 4px;
    font-size: 13px;
    line-height: 1.3;
} */


/* CPQ Sale Order Line Config Summary Column Styling */
.o_list_view .cpq-config-summary {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 8px;
    border-radius: 4px;
    font-size: 13px;
    line-height: 1.3;
}

.o_kanban_view .btn-primary,
.o_list_view .btn-primary {
    margin-top: 5px;
    margin-bottom: 5px;
}

.o_list_view .btn-primary {
    padding: 2px 8px;
    font-size: 90%;
}

.o_kanban_view .btn-primary {
    padding: 4px 10px;
    font-size: 90%;
}


.cpq-summary-table td, .cpq-summary-table th {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: center;
}
.cpq-summary-header {
    background-color: #f7f7f7;
    font-weight: bold;
    text-align: center;
}
