<odoo>

    <!-- Main Menu -->
    <menuitem id="root" name="Practices" action="action_practice" sequence="10" web_icon="practice,static/description/icon.png" />
    <menuitem id="practice" name="Practices" action="action_practice" sequence="10" parent="root" />
    <menuitem id="config" name="Configuration" sequence="100" parent="root" groups="group_practice_manager" />

    <!-- Configuration -->
    <menuitem id="settings" name="Settings" sequence="10" parent="config" />
    <menuitem id="type" name="Type" action="action_practice_type" sequence="20" parent="config" />
    <menuitem id="specialty" name="Specialties" action="action_practice_specialty" sequence="30" parent="config" />

</odoo>
