.pod_attribute_popup {
    .pod_attribute_body {
        padding: 0 !important;

        .pod_attribute_content_box {
            padding: 16px;

            .pod_attribute_content {
                padding: 7px 5px;
                align-items: center;

                .pod_attribute_title {
                    position: relative;
                    width: 17%;
                    text-align: left;
                    align-self: baseline;
                    padding-top: 6px;

                    &:after {
                        position: absolute;
                        font-family: 'FontAwesome';
                        content: '\f061';
                        right: 0;
                        font-size: 15px;
                    }
                }

                .pod_attribute_line {
                    padding-left: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    width: 83%;
                    gap: 7px;

                    .pod_att_value {
                        padding: 2px 8px;
                        display: flex;
                        background: #ffffff;
                        border-radius: 0px;
                        font-size: 15px;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid #919191;
                        white-space: nowrap;
                        cursor: pointer;
                        font-weight: normal;
                        @if $pod_pos_button_style =="style_1" {
                            border-radius: 5px !important;
                        }
                        @if $pod_pos_button_style =="style_2" {
                            border-radius: 10px 0px 10px 0px !important;
                        }
                        @if $pod_pos_button_style =="style_3" {
                            border-radius: 0px !important;
                        }
                        &.pod_highlight {
                            background: $pod_pos_primary_color;
                            color: #ffffff;
                            border: 1px solid $pod_pos_primary_color
                        }
                    }
                }
            }
        }

        .pod_alternative_products {
            &:has(.pod_product_variant_2:empty) {
                display: none !important;
            }

            .pod_alternative_products_title {
                background-color: $pod_pos_primary_color;
                padding: 3px 0px;

                span {
                    color: #fff;
                }
            }

            .pod_product_variant_2 {
                padding: 16px;
                max-height: 200px !important;
                overflow: auto !important;

                &:empty {
                    display: none;
                }
            }
        }
    }
}

.pod_pos_product_variant_popup {
    header.title{
        @include media-breakpoint-down(md){
            flex-direction: column;
        }
    }
    &.pod_morethan_15_variant {
        max-width: 835px !important;
    }

    &.pod_lessthen_15_varaint {
        max-width: 695px !important;
    }

    .pod_pos_product_variant_popup_body {
        max-height: 380px;
        overflow: auto;
        padding: 0 !important;
        .product{
            .pod_product_box_icon{
                text-align: center;
                .fa{
                    font-size: 15px;transition: all .5s;color: #495057;padding: 2px 5px;
                    &:hover,&:active,&:focus{
                        color: $pod_pos_primary_color;
                    }
                }
            }
        }

        &:has(.pod_alternative_products .pod_alternative_products_title) {
            max-height: unset !important;
            overflow: auto !important;
        }

        .pod_product_variant_1 {
            padding: 16px;

            &:has(+ .pod_alternative_products .pod_alternative_products_title) {
                max-height: 200px !important;
                overflow: auto !important;
            }

            &:has(+ :not(.pod_alternative_products .pod_alternative_products_title)) {
                max-height: auto !important;
                overflow: auto !important;
            }
        }

        .pod_alternative_products {

            .pod_alternative_products_title {
                background-color: $pod_pos_primary_color;
                padding: 3px 0px;

                span {
                    color: #fff;
                }
            }

            .pod_product_variant_2 {
                padding: 16px;
                max-height: 200px !important;
                overflow: auto !important;
            }
        }
    }
}