<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <!-- POD ERP -->
    <menuitem id="podiatry_root" name="POD ERP" web_icon="prescription,static/img/icons/icon.png" sequence="90"/>
    <!-- Practices -->
    <menuitem id="podiatry_practice" name="Clinics" parent="pod_manager.podiatry_root" action="practice_action" sequence="100"/>
    <!-- Doctors -->
    <menuitem id="podiatry_doctor" name="Doctors" parent="pod_manager.podiatry_root" action="doctor_action" sequence="110"/>
    <!-- Patients -->
    <menuitem id="podiatry_epatient" name="Patients" parent="pod_manager.podiatry_root" action="epatient_action" sequence="115"/>
    <!-- Prescriptions -->
    <menuitem id="podiatry_prescription_root" name="Prescriptions" parent="pod_manager.podiatry_root" action="prescription_action" sequence="120"/>
    <!-- E-Report -->
    <menuitem id="podiatry_ereport_root" name="E-Report" parent="pod_manager.podiatry_root" action="ereport_action" sequence="125"/>
    <!-- Query -->

        <!-- <menuitem id="menu_res_partners" name="Contacts" action="action_res_partner_patients" parent="podiatry.menu_configuration_root" sequence="20"/> -->


    <menuitem id="podiatry_query_root" name="Query" parent="pod_manager.podiatry_root" sequence="130"/>
    <!-- Submenu - Prescriptions -->
    <menuitem id="podiatry_query_prescription_root" name="Prescriptions" parent="pod_manager.podiatry_query_root" sequence="10"/>
    <menuitem id="podiatry_query_prescription" name="Prescriptions Sorgula" parent="pod_manager.podiatry_query_prescription_root" action="query_prescription_action" sequence="1"/>
    <menuitem id="podiatry_query_prescription_list" name="Prescriptions Liste Sorgula" parent="pod_manager.podiatry_query_prescription_root" action="query_prescription_list_action" sequence="2"/>
    <!-- Submenu - E-Report -->
    <menuitem id="podiatry_query_ereport_root" name="E-Report" parent="pod_manager.podiatry_query_root" sequence="20"/>
    <menuitem id="podiatry_query_ereport" name="E-Report Sorgula" parent="pod_manager.podiatry_query_ereport_root" action="query_ereport_action" sequence="1"/>
    <menuitem id="podiatry_query_ereport_list" name="E-Report Liste Sorgula" parent="pod_manager.podiatry_query_ereport_root" action="query_ereport_list_action" sequence="2"/>
    <!-- Submenu - Products -->
    <menuitem id="podiatry_query_ilac_root" name="Products" parent="pod_manager.podiatry_query_root" sequence="30"/>
    <menuitem id="podiatry_query_aktif_ilac_listesi" name="Aktif Product List Sorgula" parent="pod_manager.podiatry_query_ilac_root" action="aktif_ilac_listesi_action" sequence="1"/>
    <menuitem id="podiatry_query_pasif_ilac_listesi" name="Pasif Product List Sorgula" parent="pod_manager.podiatry_query_ilac_root" action="pasif_ilac_listesi_action" sequence="2"/>
    <menuitem id="podiatry_query_normal_ilac_listesi" name="Normal Prescriptions Product List Sorgula" parent="pod_manager.podiatry_query_ilac_root" action="normal_ilac_listesi_action" sequence="3"/>
    <menuitem id="podiatry_query_kirmizi_ilac_listesi" name="Red Prescriptions Product List Sorgula" parent="pod_manager.podiatry_query_ilac_root" action="kirmizi_ilac_listesi_action" sequence="4"/>
    <menuitem id="podiatry_query_turuncu_ilac_listesi" name="Orange Prescriptions Product List Sorgula" parent="pod_manager.podiatry_query_ilac_root" action="turuncu_ilac_listesi_action" sequence="5"/>
    <!-- Submenu - Other -->
    <menuitem id="podiatry_query_other_root" name="Other" parent="pod_manager.podiatry_query_root" sequence="40"/>
    <menuitem id="podiatry_unfinished_medicine_query" name="Kullanımı Bitmemiş İlaç Sorgula" parent="pod_manager.podiatry_query_other_root" action="query_unfinished_medicine_action" sequence="1"/>
    <menuitem id="podiatry_query_teshis_listesi" name="teşhis Listesi Sorgula" parent="pod_manager.podiatry_query_other_root" action="teshis_listesi_action" sequence="2"/>
    <menuitem id="podiatry_query_etkin_madde_listesi" name="Active Item List Sorgula" parent="pod_manager.podiatry_query_other_root" action="etkin_madde_listesi_action" sequence="3"/>

    <!-- Deleted -->
    <menuitem id="podiatry_delete_root" name="Deleted" parent="pod_manager.podiatry_root" sequence="135"/>
    <menuitem id="podiatry_delete_prescription" name="Prescriptions Sil" parent="pod_manager.podiatry_delete_root" action="delete_prescription_action" sequence="1"/>
    <menuitem id="podiatry_delete_ereport" name="E-Report Sil" parent="pod_manager.podiatry_delete_root" action="delete_ereport_action" sequence="2"/>

    <!-- Settings -->
    <menuitem id="podiatry_conf_root" name="Settings" parent="pod_manager.podiatry_root" sequence="140"/>
    <menuitem id="podiatry_ilacDVO" name="Products" parent="pod_manager.podiatry_conf_root" action="ilac_action" sequence="1"/>
    <menuitem id="podiatry_diagnosis" name="ICD10 Tanı Kodları" parent="pod_manager.podiatry_conf_root" action="diagnosis_action" sequence="2"/>
    <menuitem id="podiatry_ereport_teshis" name="E-Report Teşhisler" parent="pod_manager.podiatry_conf_root" action="ereport_teshis_action" sequence="3"/>
    <menuitem id="podiatry_etkin_madde" name="E-Report Etkin Madde Detayları" parent="pod_manager.podiatry_conf_root" action="etkin_madde_action" sequence="4"/>
    <menuitem id="podiatry_etkin_maddedvo" name="E-Report Etkin Madde Kodları" parent="pod_manager.podiatry_conf_root" action="etkin_maddedvo_action" sequence="5"/>

    <!--
    <menuitem id="podiatry_confirmation_root" name="Confirmations" parent="pod_manager.podiatry_root" sequence="15"/>
    -->


</odoo>