.summary-table-wrapper {
    transition: height 0.4s ease;
    overflow: hidden;
}

.sticky-summary {
    position: sticky;
    top: 1rem;
    z-index: 1;
    /* z-index: 100; */
    background-color: #fff;
    border-radius: 0.5rem;
    max-height: 90vh;
    overflow-y: auto;
}

/* .sticky-summary {
    position: sticky;
    top: 1rem;
    z-index: 1;
} */

.highlight-price {
    background-color: #fffbe6;  
    font-weight: 500;
}

.highlight-price .text-warning {
    font-weight: bold;
}
