$appbar-color: #dee2e6 !default;
$appbar-active: $o-brand-primary !default;
$appbar-background: #111827 !default;

// $appbar-color: #dee2e6 !default;
// $appbar-active: $o-brand-primary !default;
// $appbar-background: #111827 !default;

// $sidebar-large-width: 146px !default;
// $sidebar-small-width: 46px !default;
