<odoo>

    <!-- Main Menu -->
    <menuitem id="root" name="Patients" action="action_patient" sequence="10" web_icon="patient,static/description/icon.png" />
    <menuitem id="patient" name="Patients" action="action_patient" sequence="10" parent="root" />
    <menuitem id="config" name="Configuration" sequence="100" parent="root" groups="group_patient_manager" />

    <!-- Configuration -->
    <menuitem id="settings" name="Settings" sequence="10" parent="config" />
    <menuitem id="devicecat" name="Device Categories" action="action_patient_devicecat" sequence="20" parent="config" />
    <menuitem id="devicegroup" name="Device Groups" action="action_patient_devicegroup" sequence="30" parent="config" />
    <menuitem id="devicetype" name="Device Types" action="action_patient_devicetype" sequence="40" parent="config" />

</odoo>
