.measurment_create_table{
	width:100%;
	display: inline-flex;
	margin-bottom: 30px;
}
.measurment_create_table .measurment_create_table_left{
	width: 50%;
}
.measurment_create_table .measurment_create_table_right{
	width: 50%;
}
.measurment_create_table_left table{
	width: 100%; border-spacing: 5px;border-collapse: initial;font-size: 13px;
}
.measurment_create_table_left table tr td{
	width: 50%;
	text-align: start;
}
.measurment_create_table_right table{
	width: 100%; border-spacing: 5px;border-collapse: initial;font-size: 13px;
}
.measurment_create_table_right table tr td{
	width: 50%;
	text-align: start;
}
.measurment_input{
	padding: 5px 5px 5px 5px;
    font-size: 12px;
    min-height: 29px;
    width: 50%;
}
.pos_Measurments_table{
	margin-top: 60px;
}

.table_measurment_details{
	width: 100%;
}
/*.table_measurment_details tr th{
	border: 1px solid;
}*/
.measurment_box{
	border: 1px solid;
	margin: 3px;
	border-radius: 3px;
	padding: 3px;
}

.measurment_selection_main_cl table tr th{
	border: 1px solid;
}
.measurment_selection_main_cl table tr td{
	border: 1px solid;
	font-size: 14px;
}
.measurment_selection_main_cl table tr td .measurment_box{
	border: 1px solid;
	margin: 3px;
	border-radius: 3px;
    max-width: max-content;
}
.add_measurment_class{
	overflow: scroll;
	max-height: 300px;
}
.input_measurment_cl{
	box-shadow: none;
	min-height: 22px;
}
.measurmentorderline{
	padding-left: 15px !important;
	color: grey;
}