<odoo>

    <!-- Main Menu -->
    <menuitem id="root" name="Devices" action="action_device" sequence="10" web_icon="device,static/description/icon.png" />
    <menuitem id="device" name="Devices" action="action_device" sequence="10" parent="root" />
    <menuitem id="config" name="Configuration" sequence="100" parent="root" groups="group_device_manager" />

    <!-- Configuration -->
    <menuitem id="settings" name="Settings" sequence="10" parent="config" />
    <menuitem id="category" name="Category" action="action_device_category" sequence="20" parent="config" />
    <menuitem id="type" name="Types" action="action_device_type" sequence="30" parent="config" />
    <menuitem id="color" name="Colors" action="action_device_color" sequence="40" parent="config" />

</odoo>
