.o_kanban_view.o_prescription_kanban_view {
    .o_kanban_record {
        min-height: 140px;
    }
    .o_kanban_content {
        .o_prescription_fontsize_09 {
            font-size: .9rem;
        }

        .o_prescription_fontsize_11 {
            font-size: 1.1rem;
        }

        .o_prescription_fontsize_20 {
            font-size: 2rem;
        }
    }
}

.o_kanban_view.o_prescription_attendee_kanban_view {
    @media (max-width: 768px) {
        .o_prescription_registration_kanban {
            min-height: 80px;
        }
    }
}
