.o_recursive_expand_column {
    width: 30px;
    white-space: nowrap;
}

/* .o_expand_button {
    border-color: transparent;
    background-color: transparent;
} */

.o_expand_button {
    border: none;
    background: none;
    padding: 0;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
}


button.o_expand_button[data-depth="1"] { margin-left: 15px;}
button.o_expand_button[data-depth="2"] { margin-left: 30px; }
button.o_expand_button[data-depth="3"] { margin-left: 45px; }
button.o_expand_button[data-depth="4"] { margin-left: 60px; }
button.o_expand_button[data-depth="5"] { margin-left: 75px; }

tr.o_drop_target {
    background-color: #e1f0ff !important;
    border-top: 2px solid #007bff;
}

.o_dragging {
    opacity: 0.5;
    background-color: #e5f1ff;
}
