.o_form_view .o_field_x2many_2d_matrix {
    .table-responsive {
        max-height: 450px;
        /* Static value */
        overflow-y: auto;
    }

    .o_input {
        padding: 1px 0px;
    }

    .table {
        >thead>tr>th {
            white-space: pre-line;
            position: sticky;
            top: 0;
            z-index: 1;
            background-color: #f0f0f0;
            /* Replace with a valid color */

            &.total {
                right: 0;
            }
        }

        >tbody {
            >tr {

                &:nth-of-type(2n + 1) td.row-total,
                &:nth-of-type(2n + 1) td:first-child {
                    background-color: mix(#000, #fff, 1%);
                }

                &:nth-of-type(2n) td.row-total,
                &:nth-of-type(2n) td:first-child {
                    background-color: white;
                }

                >td {
                    text-align: right;

                    .o_field_many2one_selection {
                        text-align: left;
                    }

                    &:first-child {
                        position: sticky;
                        left: 0;
                        text-align: left;
                        border-right-width: 1px;
                        border-right-color: #ccc;
                        /* Gray */
                        border-right-style: solid;
                        box-shadow: -1px 5px 10px #ccc;
                    }

                    &.row-total {
                        padding: 0.5rem 0.75rem;
                        font-weight: bold;
                        position: sticky;
                        right: 0;
                        border-left-width: 1px;
                        border-left-color: #ccc;
                        border-left-style: solid;
                        box-shadow: -1px 5px 10px #ccc;
                    }
                }
            }
        }

        >tfoot>tr>th {
            text-align: right;
            background-color: #f0f0f0;
            position: sticky;
            bottom: 0;

            &.col-total {
                padding: 0.75rem;
                right: 0;
                border-left-width: 1px;
                border-left-color: #ccc;
                border-left-style: solid;
                background-color: white;
            }
        }
    }
}