.pos{
    .leftpane {
        .orderline {
            .product-name{
                .pod_default_code_li{
                    .pod_default_code{
                        font-weight: bold;color: #919191;font-size: 12px;
                    }
                }
            }
        }
    }
    .rightpane{
        .product-list{
            .product-content{
                .pod_ref_code{
                    font-weight: bold;color: #919191;font-size: 12px;margin-top: 3px;
                }
            }
        }
    }
}