.pod_apps_sidebar_panel {
  @include pod-disable-scrollbar();
  background-color: $pod-appbar-background;
  width: var(--pod-sidebar-width, 0);
  overflow-y: auto;
  .pod_apps_sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: nowrap;
    .pod_apps_sidebar_menu {
      padding: 0;
      > li > a {
        cursor: pointer;
        font-size: 13px;
        font-weight: 300;
        overflow: hidden;
        padding: 8px 11px;
        text-decoration: none;
        color: $pod-appbar-color;
        text-overflow: ellipsis;
        .pod_apps_sidebar_icon {
          width: 22px;
          height: 22px;
          margin-right: 5px;
        }
      }
      > li.active > a {
        background: $pod-appbar-active;
      }
      > li:hover > a {
        background: $pod-appbar-active;
      }
    }
  }
}

.pod_sidebar_type_large {
  --pod-sidebar-width: #{$pod-sidebar-large-width};
}

.pod_sidebar_type_small {
  --pod-sidebar-width: #{$pod-sidebar-small-width};
  .pod_apps_sidebar_name {
    display: none;
  }
  .pod_apps_sidebar_icon {
    margin-right: 0 !important;
  }
  .pod_apps_sidebar_logo {
    display: none;
  }
}

.pod_sidebar_type_invisible {
  --pod-sidebar-width: 0;
}

.editor_has_snippets_hide_backend_navbar,
.o_home_menu_background,
.o_fullscreen {
  --pod-sidebar-width: 0;
}

.editor_has_snippets_hide_backend_navbar .pod_apps_sidebar_panel {
  transition: width 300ms;
}

@include media-breakpoint-only(md) {
  .pod_sidebar_type_large {
    --pod-sidebar-width: #{$pod-sidebar-small-width};
    .pod_apps_sidebar_name {
      display: none;
    }
    .pod_apps_sidebar_icon {
      margin-right: 0 !important;
    }
    .pod_apps_sidebar_logo {
      display: none;
    }
  }
}

@include media-breakpoint-down(md) {
  .pod_sidebar_type_large,
  .pod_sidebar_type_small {
    --pod-sidebar-width: 0;
  }
}
