<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="prescription_main" name="Prescription" parent="sale.sale_menu_root" sequence="0"/>

        <menuitem id="prescription_order_menu_categ" name="Prescription Order" parent="prescription_order.prescription_main" sequence="1" action="prescription_order_action"/>

        <menuitem id="work_order_menu_categ" name="Work Order" parent="prescription_order.prescription_main" sequence="2" action="work_order_action"/>

        <menuitem id="service_team_menu_categ" name="Service Team" parent="prescription_order.prescription_main" sequence="3" action="service_team_action"/>

    </data>
</odoo>