<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_main_root" name="POD ERP" sequence="50"/>

        <menuitem name="Service Team" id="service_team_main" parent="prescription_order.menu_main_root" sequence="1" action="service_team_action"/>

        <menuitem name="Prescription Order" id="prescription_order_main" parent="prescription_order.menu_main_root" sequence="2" action="prescription_order_action"/>

        <menuitem name="Work Order" id="work_order_main" parent="prescription_order.menu_main_root" sequence="3" action="work_order_action"/>


    </data>
</odoo>