.o_badge_group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* .o_badge_group .badge {
    width: 100px;         
    text-align: center;   
    display: inline-block; 
    white-space: nowrap;  
    overflow: hidden;     
    text-overflow: ellipsis; 
} */

.o_badge_group .badge {
    min-width: 70px;      /* Set a minimum width for badges */
    text-align: center;    /* Center the text within the badge */
    display: inline-block; /* To ensure that width and text-alignment are respected */
    /* padding: 0 5px;       */
}