$pod-appbar-color: #dee2e6 !default;
$pod-appbar-active: $o-brand-primary !default;
$pod-appbar-background: #111827 !default;

$pod-sidebar-large-width: 146px !default;
$pod-sidebar-small-width: 46px !default;
