/* Add this style for the container */
// .o_fields_container {
//     display: flex;  
//     width: 100%;  
// }

// .o_address_format,
// .o_contact_format {
//     width: 50%;
//     box-sizing: border-box; 
//     padding: 10px; 
//     border: 1px solid #c2c2c2;
// }

.o_form_view {
 

    // .o_inner_group {
    //     width: 100%;
    //     display: block;
    // }

    .o_contact_format {
        width: 100%;
        
        .o_contact_fields_top, .o_contact_fields_bottom {
            display: flex;
        }
    
        .o_contact_phone span {
            margin-right: 2%;
        }

        .o_contact_mobile span {
            margin-right: 2%;
        }

        &.o_contact_phone_mobile {
            .o_contact_fax span {
                margin-right: 2%;
            }
            .o_contact_phone span {
                margin-right: 0;
            }
            .o_contact_mobile span {
                display: block; 
                margin-right: 0;
            }
        }
        &.o_contact_mobile_fax {
            .o_contact_mobile span {
                margin-right: 0;
            }
            .o_contact_fax span {
                display: block; 
                margin-right: 0;
            }
        }
        > .o_field_widget span {
            width: auto;
        }
    }

    .o_form_editable .o_contact_format {
        .o_contact_phone {
            display: inline-block; 
            width: 38%; 
            margin-right: 2%;
        }
        .o_contact_mobile {
            display: inline-block; 
            width: 33%; 
            margin-right: 2%;
        }
        .o_contact_fax {
            display: inline-block; 
            width: 25%;
        }
        &.o_contact_phone_mobile {
            .o_contact_fax {
                width: 38%; 
                margin-right: 2%;
            }
            .o_contact_phone {
                width: 60%; 
                margin-right: 0;
            }
            .o_contact_mobile {
                width: 100%; 
                margin-right: 0;
            }
        }
        &.o_contact_mobile_fax {
            .o_contact_phone {
                width: 50%;
            }
            .o_contact_mobile {
                width: 48%; 
                margin-right: 0;
            }
            .o_contact_fax {
                width: 100%;
            }
        }
    }
 
  }


  
