<odoo>
    <menuitem id="menu_cpq_product" name="Custom Products" parent="sale.menu_sale_config" sequence="41"/>
    <menuitem id="menu_cpq_price_matrix" name="Price Matrix" parent="menu_cpq_product" action="action_cpq_price_matrix" sequence="10"/>
    <menuitem id="menu_sale_options" name="Custom Options" parent="menu_cpq_product" action="product_options_action" sequence="11" />
    <!-- <menuitem id="menu_stock_options" name="Custom - Product Options" parent="stock.menu_product_in_config_stock" action="product_options_action" sequence="12" /> -->
    <menuitem id="menu_cpq_attributes" name="Custom Attributes" parent="menu_cpq_product" action="action_cpq_attribute" sequence="13"/>
    <!-- <menuitem id="menu_cpq_attribute_values" name="Custom - Attribute Values" parent="menu_cpq_product" action="action_cpq_attribute_values" sequence="14"/> -->
    <!-- Tools (System Only) -->
    <!-- <menuitem id="menu_cpq_tools" name="Custom Admin Tools" parent="menu_cpq_product" sequence="16"/>
    <menuitem id="menu_cpq_check_links" name="Custom - Check Links" parent="menu_cpq_tools" action="action_cpq_check_links_url" sequence="1" groups="base.group_system"/>
    <menuitem id="menu_cpq_repair_tools" name="Custom - Repair Links" parent="menu_cpq_tools" action="action_cpq_repair_links_url" sequence="2" groups="base.group_system"/>
    <menuitem id="menu_cpq_cleanup_values" name="Custom - Clean Values" parent="menu_cpq_tools" action="action_cleanup_cpq_values" sequence="4" groups="base.group_system"/>
    <menuitem id="menu_cpq_cleanup_pavs" name="Custom - Clean Attributes" parent="menu_cpq_tools" action="action_cpq_clean_broken_pavs" sequence="5" groups="base.group_system"/>
    <menuitem id="menu_cpq_cleanup_ptavs" name="Custom - Clean Template Attributes" parent="menu_cpq_tools" action="action_cleanup_orphaned_ptavs" sequence="6" groups="base.group_system"/> -->
</odoo>
