$pod_cart_position: left_side;
$pod_image_display_in_cart: True;
$pod_action_button_position: bottom;
$pod_mobile_start_screen: product_screen;
$pod_pos_theme_style: style_1;
$pod_pos_primary_color: #673ab7;  
$pod_pos_secondary_color: #dee2e6;
$pod_pos_button_style: style_1;
$pod_pos_product_style: style_1;
$pod_pos_body_background_type: bg_color;
$pod_pos_body_background_color: #FFFFFF;
$pod_pos_body_font_family: Roboto;
$pod_pos_body_google_font_family: False;
$pod_pos_is_used_google_font: False;
$pod_list_view_border:without_border;
$pod_list_row_hover:True;
$pod_header_sticky:True;
$pod_hover_background_color:#dee2e6;
$pod_even_row_color: #dee2e6;
$pod_odd_row_color:#FFFFFF;
$pod_form_element_style: style_1;
$pod_display_product_image_name: image_name;
$pod_form_element_style: #FFFFFF;
